<% if @lecture.nil? %>
<% title "#{t('.all')}#{t('.title')}" %>
<% else %>
<% title "#{@lecture.description}#{t('.title')}" %>
<% end %>

<table>
  <tr>
    <% if @lecture.nil? %>
    <th><%= t('activerecord.attributes.lecture.description') %></th>
    <% end %>
    <th>ID</th><th><%= t('activerecord.attributes.presence.created_at') %></th><th><%= t('activerecord.attributes.presence.proxyed') %></th>
  </tr>
<% @presences.each do |presence| %>
  <tr>
    <% if @lecture.nil? %>
    <td><%=h presence.lecture.description %></td>
    <% end %>
    <td><%=h presence.login %></td><td><%=h presence.created_at %></td><td><%=h presence.proxyed ? t('yes') : t('no') %></td>
  </tr>
<% end %>
</table>
