<% title t('activerecord.models.presence') + t('registration') %>

<% form_for :presence, :url => {:action => 'create'} do |f| %>
<table>
  <tr>
    <td><%= t('activerecord.attributes.course.name') %></td>
    <td><%=h @presence.course.name %></td>
    <%= f.hidden_field 'course_id' %>
  </tr>
  <tr>
    <td>ID</td>
    <td><%=h @presence.login %></td>
    <%= f.hidden_field 'login' %>
  </tr>
  <tr>
    <td><%= t('activerecord.attributes.presence.name') %></td>
    <% if !@presence.name.nil? %>
    <td><%=h @presence.name %></td>
    <%= f.hidden_field 'name' %>
    <% else %>
    <td><%= f.text_field 'name' %></td>
    <% end %>
  </tr>
  <tr>
    <td><%= t('activerecord.attributes.presence.mail') %></td>
    <% if !@presence.mail.nil? %>
    <td><%=h @presence.mail %></td>
    <%= f.hidden_field 'mail' %>
    <% else %>
    <td><%= f.text_field 'mail' %></td>
    <% end %>
  </tr>
  <% if @presence.proxyed %>
    <tr>
      <td><%= t('activerecord.attributes.presence.proxyed') %></td><td><%= t('yes') %></td>
    </tr>
  <% end %>
  <%= f.hidden_field 'proxyed' %>
</table>
<%= submit_tag(t('registration')) %>
<% end %>
