<% title "#{t('registration')} #{t('detail')}" %>

<table>
  <tr>
    <td>ID</td><td><%=h @presence.login %></td>
  </tr>
  <tr>
    <td><%= t('activerecord.attributes.presence.name') %></td><td><%=h @presence.name %></td>
  </tr>
  <tr>
    <td><%= t('activerecord.attributes.presence.mail') %></td><td><%=h @presence.mail %></td>
  </tr>
  <tr>
    <td><%= t('activerecord.attributes.presence.created_at') %></td><td><%=h @presence.created_at %></td>
  </tr>
  <tr>
    <td><%= t('activerecord.attributes.presence.proxyed') %></td><td><%=h @presence.proxyed ? t('yes') : t('no') %></td>
  </tr>
</table>
