<% form_for(@lecture) do |f| %>
  <p>
    <%= f.error_messages %>
  </p>
  <p>
    <%= f.label :course_id %><br />
    <%= f.select(:course_id, Course.all.collect {|course| [course.name, course.id] }) %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </p>
  <%= f.submit %>
<% end %>
