<% title "#{t('activerecord.models.lecture')}#{t('list')}" %>

<table>
  <tr>
    <th><%= t('activerecord.attributes.lecture.description') %></th>
    <th colspan="<%=h admin_user? ? 3 : 1 %>"></th>
  </tr>
<% @lectures.each do |lecture| %>
  <tr>
    <td><%=h lecture.description %></td>
    <td><%= link_to(t('activerecord.models.presence') + t('confirmation'), lecture_presences_path(:lecture_id => lecture.id)) %></td>
    <% if admin_user? %>
    <td><%= link_to t('edit'), edit_lecture_path(lecture) %></td>
    <td><%= link_to t('destroy'), lecture, :confirm => t('confirm_message'), :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<% if admin_user? %>
<%= link_to t('new'), new_course_lecture_path(@course_id) %> 
<% end %>
