<% title t('activerecord.models.lecture') + t('detail') %>

<p>
  <b><%= t('activerecord.attributes.course.name') %>:</b>
  <%=h @lecture.course.name %>
</p>

<p>
  <b><%= t('activerecord.attributes.lecture.description') %>:</b>
  <%=h @lecture.description %>
</p>

<p>
  <b><%= t('activerecord.attributes.lecture.start_time') %>:</b>
  <%=h @lecture.start_time %>
</p>

<p>
  <b><%= t('activerecord.attributes.lecture.end_time') %>:</b>
  <%=h @lecture.end_time %>
</p>


<%= link_to t('edit'), edit_lecture_path(@lecture) %> |
<%= link_to t('back'), course_lectures_path(@lecture.course_id) %>
