<% form_for(@course) do |f| %>
  <p>
    <%= f.error_messages %>
  </p>
  <p>
    <%= f.label :moodle_id %><br />
    <%= f.text_field :moodle_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <%= f.submit %>
<% end %>
