<% title t('activerecord.models.course') + t('list') %>

<table>
  <tr>
    <th><%= t('activerecord.attributes.course.name') %></th>
    <th colspan="<%=h admin_user? ? 5 : 3 %>"></th>
  </tr>
<% @courses.each do |course| %>
  <tr>
    <td><%=h course.name %></td>
    <td><%= link_to t('activerecord.models.lecture') + t('list'), course_lectures_path(course.id) %></td>
    <td><%= link_to t('activerecord.models.presence') + t('registration') + "(*)", new_course_presence_path(course.id) %></td>
    <td><%= link_to t('activerecord.models.presence') + t('confirmation'), course_presences_path(course.id) %></td>
    <% if admin_user? %>
    <td><%= link_to t('edit'), edit_course_path(course) %></td>
    <td><%= link_to t('destroy'), course, :confirm => t('confirm_message'), :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
<p>
(*) <%= t('.explanation') %>
</p>

<% if admin_user? %>
<%= link_to t('new'), new_course_path %><br/>
<% end %>
