<% title "#{t('activerecord.models.course')} #{t('detail')}" %>
<p>
  <b><%= t('activerecord.attributes.course.moodle_id') %>:</b>
  <%=h @course.moodle_id %>
</p>

<p>
  <b><%= t('activerecord.attributes.course.name') %>:</b>
  <%=h @course.name %>
</p>

<%= link_to t('edit'), edit_course_path(@course) %> |
<%= link_to t('back'), courses_path %>
